body {
    min-height: 100vh;
    background: linear-gradient(120deg, #1160E0, #16E1F0);
    font-family: 'Montserrat', sans-serif;
    color: #1160E0;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header,
.input__form {
  margin-bottom: 2rem;
}

.header {
  text-align: center;
  color: white;
}

.header > h1 {
  font-size: 4rem;
}

.item__input, .item__submit {
  border: none;
  outline: none;
  font-size: 2rem;
  /* margin-top: 1rem; */
}

.item__input {
  color:#1160E0;
  text-align: center;
  padding: 0.5rem 1rem;
}

.item__submit {
  background-color: white;
  color:#1160E0;
  padding: 0.5rem 1rem;
  transition: all ease 0.3s;
}

.item__submit:hover {
  color: white;
  background-color:#1160E0;
}

.item__list {
  display: flex;
  justify-content: center;
  flex-direction: column;
  /* align-items: center; */
  list-style-type: none;
  margin-right: 30px;
}

.item__div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  margin: 10px;
}

.item {
  flex: 1;
  font-weight: 700;
  padding: 0rem 2rem;
  font-size: 1.5rem;
}

.checked {
    text-decoration: line-through;
    opacity: 50%;
    font-style: italic;
}

.item__button {
    padding: 1rem;
    border: none;
    cursor: pointer;
    outline: none;
    transition: all 0.3s ease;
}

.check:hover {
  background-color: green;
  color: white;
}

.remove:hover {
  background-color: red;
  color:white;
}

.icon {
  pointer-events: none;
}

.clear__all {
  border-radius: 10px;
  cursor: pointer;
  border: none;
  outline: none;
  padding: 1rem 3rem;
  font-size: 1.3rem;
  color: white;
  background-color: #1160E0;
  margin-top: 2rem;
}

.clear__all:hover {
  color: #16E1F0;
  background-color: black;
  
}